@import './base.css';

#app {
  max-width: 1280px;
  /* max-height: 95vh; */
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  z-index: 1;
  
  /* background-color: #100913c2; */
  /* background-color: #ffffff88; */
  background-color:var(--color-background-trans);
  
  clip-path: polygon(
    0 0,
    85% 0,
    100% 15%,
    100% 100%,
    15% 100%,
    0% 85%
  ) 
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */
a,
.blue {
  text-decoration: none;
  color: var(--color-accent-text);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-accent-highlight);
  }
}

@media (min-width: 1024px) {
  body {
    padding-top: 25px;
    /* display: flex;
    place-items: center; */
    padding-bottom: 25px;
  }

  #app {
    padding: 0 2rem;
    /* background-color: #10091388; */
  }
}
